{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}

    <a href="{{ path('home') }}" class="btn btn-primary fixed-btn">home</a>

        {% for project in projects %}
        
        {% if loop.index%2 == 0 %}
        <div class="card card-project right mb-5">
            <img class="card-img-top project-pic" src="{{ project.picture }}" alt="{{ project.name }}">
            <div class="card-body row">
                <h3 class="col-md-4 col-12">{{ project.name }}</h3>
                <p class="card-text col-md-4 col-12">{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</p>
                <p class="col-md-4 col-12">{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</p>
                    <a class="btn btn-primary" href="{{ path('home_show', {'id': project.id}) }}">more details</a>
            </div>
        </div>
        {% else %}
        <div class="card card-project left mb-5">
            <img class="card-img-top project-pic" src="{{ project.picture }}" alt="{{ project.name }}">
            <div class="card-body row">
                <h3 class="col-md-4 col-12">{{ project.name }}</h3>
                <p class="card-text col-md-4 col-12">{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</p>
                <p class="col-md-4 col-12">{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</p>
                    <a class="btn btn-primary" href="{{ path('home_show', {'id': project.id}) }}">more details</a>
            </div>
        </div>
        {% endif %}
        {% else %}
                <p>no records found</p>
        {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}