{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
        {{ encore_entry_link_tags('show') }}
{% endblock %}

{% block body %}
    <a href="{{ path('home') }}" class="btn btn-primary fixed-btn">Home</a>
    <a href="{{ path('home_projects') }}" class="btn btn-primary fixed-btn-2">Projects</a>

    <img class="card-img-top parallax project-pic" src="{{ project.picture }}" alt="{{ project.name }}">
    <div class="card card-project">
    <div class="card-body mr-0 row justify-content-center">
        <h1 class="col-12 title">{{ project.name }}</h1>
        <div class="col-12 col-md-6 description">
        <p>{{ project.description }}</p>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('show') }}
{% endblock %}